In [8]:
import pandas as pd

In [6]:
"CNAE_CBO_SEXO_2019.csv"

'CNAE_CBO_SEXO_2019.csv'

In [61]:
CNAE_CBO_SEXO_2019 = pd.read_csv("../data/cleaned/CNAE_CBO_SEXO_2019.csv", sep = ";", index_col = [0,1], encoding = 'latin-1')

In [101]:
df = CNAE_CBO_SEXO_2019.query("TIPO_DADO == 'sum'")
df

                            620:M         620:F        631:M        631:F
CBO_FAMIL TIPO_DADO
1236      sum        1.411959e+07  1.925808e+06   1341897.36    400845.89
1425      sum        1.267494e+08  3.425039e+07  12074624.70   2696317.74
2122      sum        3.812691e+07  4.588985e+06   7541340.31    953891.81
2123      sum        4.850029e+07  8.395919e+06   6582728.33    630752.99
2124      sum        6.137323e+08  1.468348e+08  66131278.43  15641804.89
3171      sum        1.509849e+08  2.227089e+07   9268820.17   1150304.96
3172      sum        4.917922e+07  1.488892e+07   9696404.44   2810834.92

In [70]:
CNAE_CBO_SEXO_2019.query("TIPO_DADO == 'mean'").sum()/len(df.index)

620:M     9572.526255
620:F     8258.499840
631:M    10319.017486
631:F    11646.219986
dtype: float64

In [99]:
mean_m = (df.loc[:,df.columns.str.contains('M')].sum(1)/2).sum()/len(df.index)
print(mean_m)
mean_f = (df.loc[:,df.columns.str.contains('F')].sum(1)/2).sum()/len(df.index)
print(mean_f)

9945.771870725564
9952.359913140217